<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Opack{% endblock %}</title>
</head>
<body class="bg-[#fffefb] text-[#2c3b2f] font-comfortaa">
    {% if not hide_header %}
    <header class="bg-[#2c3b2f] text-[#fffefb] py-3">
        <nav class="container mx-auto flex justify-end items-center space-x-4 text-sm">
            <!-- Affiche "Accueil" uniquement si la page actuelle n'est pas "scan_colis" -->
            {% if request.resolver_match.url_name != 'scan_colis' %}
                {% if request.GET.next %}
                    <a href="{{ request.GET.next }}" class="hover:underline">Accueil</a>
                {% elif request.resolver_match.url_name == 'retour_colis' %}
                    <a href="{% url 'scan_colis' colis.id %}" class="hover:underline">Accueil</a>
                {% else %}
                    <a href="{% url 'accueil' %}" class="hover:underline">Accueil</a>
                {% endif %}
            {% endif %}

            {% if user.is_authenticated %}
                <!-- Mon compte -->
                <a href="{% url 'account' %}?next={{ request.GET.next|default:request.path }}" 
                   class="hover:underline">
                    Mon compte
                </a>
                <!-- Déconnexion -->
                <a href="{% url 'logout' %}?next={{ request.GET.next|default:request.path }}" 
                   class="hover:underline">
                    Déconnexion
                </a>
            {% else %}
                <!-- Connexion -->
                <a href="{% url 'login' %}?next={{ request.GET.next|default:request.path }}" 
                   class="hover:underline">
                    Connexion
                </a>
                <!-- Enregistrement -->
                <a href="{% url 'signup' %}?next={{ request.GET.next|default:request.path }}" 
                   class="hover:underline">
                    Enregistrement
                </a>
            {% endif %}
        </nav>
    </header>
    {% endif %}
    <main class="container mx-auto px-4 py-6">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
